doctype html
html
	head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
	title Pattern generator
	link(href='/static/css/app.css' rel='stylesheet' type='text/css')

body(ontouchstart)
	#graph-overlay
		h1 Pattern generator
		.input
			h2 Unit
			select#input-unit
				option(value="mm") millimeters
				option(value="px") pixels
		.input
			h2 Placing algorithm
			select#input-placer
		.input
			h2 Count
			input#input-particle-count(type="range" min="0" max="600" step="1")
			span#output-particle-count 
		.input
			h2 Maximum particle size
			input#input-particle-size-max(type="range" min="0" max="20" step="0.1")
			span#output-particle-size-max 
		.input
			h2 Minimum particle size
			input#input-particle-size-min(type="range" min="0" max="50" step="0.1" value="0")
			span#output-particle-size-min 
		.input
			h2 Maximum pattern radius
			input#input-pattern-radius-max(type="range" min="0" max="500" step="0.1" )
			span#output-pattern-radius-max 
		.input
			h2 Minimum pattern radius
			input#input-pattern-radius-min(type="range" min="0" max="250" step="0.1" )
			span#output-pattern-radius-min 
		.input
			h2 Size equation
			input#input-particle-size-equation(type="text")
		button#export-graph Click me!
	
	#graph

	script(src='static/js/vendor.js')
	script(src='static/js/app.js')